* {
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: auto;
}

.heading {
    font-family: Arial, serif;
    margin-top: 40vh;
}

.url,
.download-button {
    font-size: 1.3em;
    padding: 5px 10px;
}

.url {
    margin: auto;
    border-radius: 4px 0 0 4px;
    width: 30em;
    text-align: left;
    border: 2px solid #eeeeee;
    background: #eeeeee;
    outline: none;
}

.url:focus {
    border: 2px solid #0485ff;
}

.download-button {
    margin: 2% auto;
    border: 2px solid #0485ff;
    background: #0485ff;
    color: white;
    text-decoration: none;
    transition: 0.15s;
}

.download-button:hover {
    background: #016acc;
    border-color: #016acc;
}

@media only screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .url {
        margin: auto;
        width: 100%;
    }

    .download-button {
        margin: 7% auto;
        width: 100%;
    }
}

.format {
    width: 30vw;
    margin: 2% auto;
    padding: 4px;
    border-radius: 7%;
}
